body {
	background-color: #f5f5f5;
}

h1,h2,h3,h4,h5 {
	text-align: center;
}

.bold {
	font-weight: bold;
}

.content-card {
	margin: 5px auto;
	width: 90%;
}

#schedule,
#schedule thead,
#schedule tbody {
	max-width: 100%;
}

#schedule td:not(:first-of-type),
#schedule th:not(:first-of-type) {
	padding-left: 24px;
}

#xkcd-card {
	padding: 5px;
}

#xkcd-card > a {
	display: block;
	margin: 0 auto;
}
#xkcd-card img {
	width: auto;
	max-height: 300px;
	max-width: 100%;
}

.mdl-layout__header-row.mdl-layout__tab-bar {
	height: 48px;
}

.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after {
	background: #ffffff;
}

.mdl-layout__tab-bar {
	overflow-x: auto;
}